* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*Tamanho exato para ficar legal num pdf*/
  width: 793px;
  height: 1122px;
}

.big {
  font-size: 15px;
}

.bold {
  font-weight: bold !important;
  font-size: 13px !important;
}

.big-and-bold {
  font-size: 15px;
  font-weight: bold;
}

.blank-space {
  padding: 9px;
}

.margin-t-1 {
  margin-top: 0.3rem;
}

.margin-b-1 {
  margin-bottom: 0.3rem;
}

.margin-b-2 {
  margin-bottom: 0.7rem;
}

.paycheck {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 31%;
  border: solid #000 1px;
}

.paycheck::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -3.5%;
  border-bottom: dashed #000 1px;
}

.left-content {
  width: 27%;
  height: 100%;
  border-right: dashed #000 1px;
  padding: 10px;
}

.left-content .logo-and-due {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 27%;
  padding-bottom: 13px;
  border-bottom: solid #000 1px;
}

.left-content .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 50%;
  margin-right: 5px;
}

.left-content .logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.left-content .due {
  width: 50%;
}

.left-content .due .big {
  text-align: center;
  padding-bottom: 3px;
  border-bottom: solid #000 1px;
}

.left-content .due .big-and-bold {
  text-align: center;
}

.left-content .document-payment {
  height: 72%;
}

.left-content .document-payment .document-number,
.left-content .document-payment .document-value,
.left-content .document-payment .document-extras {
  padding: 5px;
  border-bottom: solid #000 1px;
}

.left-content .document-payment .document-total-and-date {
  padding: 5px;
}

.left-content .document-payment .big-and-bold {
  text-align: right;
}

.right-content {
  height: 100%;
  width: 73%;
}

.full-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  border-bottom: solid #000 1px;
}

.center-content {
  width: 75%;
  height: 100%;
  padding: 2px;
}

.center-content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35%;
  padding: 5px 5px 11px 5px;
}

.center-content .top .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 27%;
  margin-right: 5px;
}

.center-content .top .logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.center-content .top .location-and-contact p {
  font-size: 10px;
  margin-bottom: 3px;
}

.center-content .top p.bold {
  margin-bottom: 0 !important;
}

.center-content .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 17%;
  text-align: center;
  border-top: solid #000 1px;
  border-bottom: solid #000 1px;
}

.center-content .middle .document-number,
.center-content .middle .money-species,
.center-content .middle .process-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.center-content .middle .money-species {
  border-left: solid #000 1px;
  border-right: solid #000 1px;
}

.center-content .observations {
  height: 48%;
  padding: 5px;
}

.center-content .observations p {
  height: 50%;
}

.payment-content {
  width: 25%;
  height: 100%;
  border-left: solid #000 1px;
}

.payment-content .due p {
  padding: 5px;
}

.payment-content .due .big {
  text-align: center;
  padding-bottom: 3px;
  border-bottom: solid #000 1px;
}

.payment-content .due .big-and-bold {
  text-align: left;
  padding-bottom: 3px;
  padding-left: 5px;
  border-bottom: solid #000 1px;
}

.payment-content .document-number,
.payment-content .document-value,
.payment-content .document-extras {
  padding: 5px;
  border-bottom: solid #000 1px;
}

.payment-content .document-total-and-date {
  padding: 5px;
}

.payment-content .big-and-bold {
  text-align: right;
}

.footer {
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */